version: "3.8"
services:
  backend:
    build:
      context: ..
      dockerfile: backend/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - DB_URL=${DB_URL}
      - SECRET_TOKEN=${SECRET_TOKEN}
      - BCRYPT_SALT_ROUNDS=${BCRYPT_SALT_ROUNDS}
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=alpha_project_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
