version: "3.8"
services:
  backend:
    build:
      context: ..
      dockerfile: backend/Dockerfile
    ports:
      - "4000:3000"
    env_file:
      - .env
    environment:
      - DB_URL=${DB_URL}
      - SECRET_TOKEN=${SECRET_TOKEN}
      - BCRYPT_SALT_ROUNDS=${BCRYPT_SALT_ROUNDS}
